USE [master]
GO
/****** Object:  User [##MS_PolicyEventProcessingLogin##]    Script Date: 19/08/2024 06:49:57 a.m. ******/
CREATE USER [##MS_PolicyEventProcessingLogin##] FOR LOGIN [##MS_PolicyEventProcessingLogin##] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [##MS_AgentSigningCertificate##]    Script Date: 19/08/2024 06:49:58 a.m. ******/
CREATE USER [##MS_AgentSigningCertificate##] FOR LOGIN [##MS_AgentSigningCertificate##]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 19/08/2024 06:50:02 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 19/08/2024 06:50:07 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Apellido] [nvarchar](max) NULL,
	[Direccion] [nvarchar](max) NULL,
	[Telefono] [nvarchar](max) NULL,
	[Correo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleadoes]    Script Date: 19/08/2024 06:50:07 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleadoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Apellido] [nvarchar](max) NULL,
	[Telefono] [nvarchar](max) NULL,
	[Cargo] [nvarchar](max) NULL,
	[Salario] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Empleadoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 19/08/2024 06:50:07 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ventaId] [int] NOT NULL,
	[medicamentoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[TotalPagar] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Facturas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventarios]    Script Date: 19/08/2024 06:50:07 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[medicamentoId] [int] NOT NULL,
	[ExistenciaInventario] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Inventarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicamentoes]    Script Date: 19/08/2024 06:50:07 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicamentoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Presentacion] [nvarchar](max) NULL,
	[Nombre] [nvarchar](max) NULL,
	[Categoria] [nvarchar](max) NULL,
	[Precio] [float] NOT NULL,
	[Existencia] [int] NOT NULL,
	[proveedorId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Medicamentoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedors]    Script Date: 19/08/2024 06:50:07 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Direccion] [nvarchar](max) NULL,
	[Telefono] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Proveedors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 19/08/2024 06:50:07 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaVenta] [datetime] NOT NULL,
	[clienteId] [int] NOT NULL,
	[empleadoId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Ventas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([Id], [Nombre], [Apellido], [Direccion], [Telefono], [Correo]) VALUES (1, N'DUGLAS', N'BETANCO', N'CANE, LA PAZ', N'89089565', N'duglas@gmail.com')
INSERT [dbo].[Clients] ([Id], [Nombre], [Apellido], [Direccion], [Telefono], [Correo]) VALUES (2, N'DANIEL', N'HERNANDEZ', N'LA PAZ', N'89675645', N'DANIEL@GMAIL,COM')
INSERT [dbo].[Clients] ([Id], [Nombre], [Apellido], [Direccion], [Telefono], [Correo]) VALUES (3, N'ISBELA', N'HERNADEZ', N'LA PAZ', N'89456756', N'ISBELA@GMAIL.COM')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleadoes] ON 

INSERT [dbo].[Empleadoes] ([Id], [Nombre], [Apellido], [Telefono], [Cargo], [Salario]) VALUES (1, N'DUGLAS', N'BETANCO', N'89089565', N'GUARDIA', 15000)
SET IDENTITY_INSERT [dbo].[Empleadoes] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicamentoes] ON 

INSERT [dbo].[Medicamentoes] ([Id], [Presentacion], [Nombre], [Categoria], [Precio], [Existencia], [proveedorId]) VALUES (1, N'TB', N'ACETAMINOFEN 500MG', N'ANALGESICO', 3.5, 200, 2)
INSERT [dbo].[Medicamentoes] ([Id], [Presentacion], [Nombre], [Categoria], [Precio], [Existencia], [proveedorId]) VALUES (2, N'FCO', N'NISTATINA 100.000UI/mL', N'POLIENICOS', 95, 100, 4)
INSERT [dbo].[Medicamentoes] ([Id], [Presentacion], [Nombre], [Categoria], [Precio], [Existencia], [proveedorId]) VALUES (3, N'FCO', N'AMOXICILINA  + AMBROXOL CLORHIDRATO 250MG/5ML', N'ANTIBIOTICO', 125, 100, 1)
SET IDENTITY_INSERT [dbo].[Medicamentoes] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedors] ON 

INSERT [dbo].[Proveedors] ([Id], [Nombre], [Direccion], [Telefono]) VALUES (1, N'INFARMA', N'COL. PRADO TEGUCIGALPA', N'+504 22346554')
INSERT [dbo].[Proveedors] ([Id], [Nombre], [Direccion], [Telefono]) VALUES (2, N'ADIUVO', N'LA PAZ', N'+504 23456789')
INSERT [dbo].[Proveedors] ([Id], [Nombre], [Direccion], [Telefono]) VALUES (4, N'PHARMA', N'COMAYAGUA', N'+504 23456745')
SET IDENTITY_INSERT [dbo].[Proveedors] OFF
GO
/****** Object:  Index [IX_medicamentoId]    Script Date: 19/08/2024 06:50:15 a.m. ******/
CREATE NONCLUSTERED INDEX [IX_medicamentoId] ON [dbo].[Facturas]
(
	[medicamentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ventaId]    Script Date: 19/08/2024 06:50:15 a.m. ******/
CREATE NONCLUSTERED INDEX [IX_ventaId] ON [dbo].[Facturas]
(
	[ventaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_medicamentoId]    Script Date: 19/08/2024 06:50:15 a.m. ******/
CREATE NONCLUSTERED INDEX [IX_medicamentoId] ON [dbo].[Inventarios]
(
	[medicamentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_proveedorId]    Script Date: 19/08/2024 06:50:15 a.m. ******/
CREATE NONCLUSTERED INDEX [IX_proveedorId] ON [dbo].[Medicamentoes]
(
	[proveedorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_clienteId]    Script Date: 19/08/2024 06:50:15 a.m. ******/
CREATE NONCLUSTERED INDEX [IX_clienteId] ON [dbo].[Ventas]
(
	[clienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_empleadoId]    Script Date: 19/08/2024 06:50:15 a.m. ******/
CREATE NONCLUSTERED INDEX [IX_empleadoId] ON [dbo].[Ventas]
(
	[empleadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Facturas_dbo.Medicamentoes_medicamentoId] FOREIGN KEY([medicamentoId])
REFERENCES [dbo].[Medicamentoes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_dbo.Facturas_dbo.Medicamentoes_medicamentoId]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Facturas_dbo.Ventas_ventaId] FOREIGN KEY([ventaId])
REFERENCES [dbo].[Ventas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_dbo.Facturas_dbo.Ventas_ventaId]
GO
ALTER TABLE [dbo].[Inventarios]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Inventarios_dbo.Medicamentoes_medicamentoId] FOREIGN KEY([medicamentoId])
REFERENCES [dbo].[Medicamentoes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventarios] CHECK CONSTRAINT [FK_dbo.Inventarios_dbo.Medicamentoes_medicamentoId]
GO
ALTER TABLE [dbo].[Medicamentoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Medicamentoes_dbo.Proveedors_proveedorId] FOREIGN KEY([proveedorId])
REFERENCES [dbo].[Proveedors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Medicamentoes] CHECK CONSTRAINT [FK_dbo.Medicamentoes_dbo.Proveedors_proveedorId]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ventas_dbo.Clients_clienteId] FOREIGN KEY([clienteId])
REFERENCES [dbo].[Clients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_dbo.Ventas_dbo.Clients_clienteId]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ventas_dbo.Empleadoes_empleadoId] FOREIGN KEY([empleadoId])
REFERENCES [dbo].[Empleadoes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_dbo.Ventas_dbo.Empleadoes_empleadoId]
GO
