@using DevExtremeMvcFARMACIA.Models

@{
                /**/

                /**/

                /**/

                ViewBag.Title = "Proveedor";
}

<h2 style="color: #0094ff;">Proveedores</h2>
@(Html.DevExtreme().DataGrid<DevExtremeMvcFARMACIA.Models.Proveedor>()
                     .DataSource(ds => ds.WebApi()
                        .Controller("Proveedor")
                        .LoadAction("Get")
                        .InsertAction("Post")
                        .UpdateAction("Put")
                        .DeleteAction("Delete")
                        .Key("Id")
                    )
                    .RemoteOperations(true)
                    .Columns(columns =>
                    {
                        columns.AddFor(m => m.Id).Caption("ID");
                        columns.AddFor(m => m.Nombre).Caption("Nombre");
                        columns.AddFor(m => m.Direccion).Caption("Dirección");
                        columns.AddFor(m => m.Telefono).Caption("Teléfono");
     

            
            columns.Add()
                            .Type(GridCommandColumnType.Buttons)
                            .Width(150)
                            .Buttons(buttons =>
                            {
                                buttons.Add().Name("edit").Icon("edit").CssClass("dx-icon-edit"); 
                    buttons.Add().Name("delete").Icon("trash").CssClass("dx-icon-trash"); 
                })
                            .Caption("Acciones"); 
        })
                    .Editing(e => e
                        .Mode(GridEditMode.Popup) 
                        .AllowAdding(true)
                        .AllowUpdating(true)
                        .AllowDeleting(true)
                        .Popup(p => p
                            .Title("Editar Cliente")
                            .Width(1000)
                            .Height(500)
                        )
                    )
                    .HeaderFilter(hf => hf.Visible(true)) 
                    .Paging(p => p.PageSize(10)) 
                    .Pager(pager => pager
                        .ShowPageSizeSelector(true)
                        .AllowedPageSizes(new[] { 10, 20, 50 })
                        .ShowInfo(true)
                    )
                    .RowAlternationEnabled(true) 
                    .HoverStateEnabled(true) 
                    .ShowBorders(true) 
                    .ColumnAutoWidth(true) 
                    .SearchPanel(sp => sp.Visible(true)) 


)

